/*
// Navigation
*/

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;

  width: 21rem;
}


.navMenu a {
  width: auto;
  color: #f6f4e6;

  font: {
    size: 1.0em;
    weight: 500;    
  }
  text: {
    decoration: none;
    transform: uppercase;
    -webkit-transform: uppercase;
    -moz-transform: uppercase;
    -ms-transform: uppercase;
    -o-transform: uppercase;
}
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.home,
.search {
  margin-right: .5rem;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu a.active {
  color: #b39606;
}

