/*
// Table with country
*/

.country {
max-width: 21em;
padding: 0;
margin-top: 1rem;

    font: {
        size: 0.6em;
    }

    text-decoration: none;
    list-style-type: none;

    .container {
        border-bottom: 1px solid #8b9197;
        padding-top: .4em;
        padding-bottom: .4em;
    }

    .constainer-img {
        padding-top: .4em;
        padding-bottom: .4em;
    }

    .sign:first-child {
        padding-right: 1em;
    }

    .sign{
        height: 2em;
    }


    li {
        display: flex;
        flex-direction: column;
        text-align:left;
        justify-content: space-between;

        padding: .3em .6em .5em .6em;

        text-decoration: none;
        border-bottom: 1px solid #8b9197;

        background-color: rgba(0, 0, 0, 0.1);
    }

    p {
        margin-bottom: .3em;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
  
    li:last-of-type{
        text-decoration: none;
        border-bottom: none;
    }


    .intro {
        text-align: center;
        font-size: 1.5em;
    }
     
    .flag {
        text-align: center;
    }

}

